
.form{
    background-color: bisque;
    font-weight: bold;
    width: 20%;
    margin: 10px 40% 10px 40%;
    padding: 20px;
}
.error{
 color: red;
 padding: 5px;
 font-weight: lighter;
}
input , .label{
    padding: 10px;
    width: 90%;
}
button{
    padding: 10px;
    background-color: white;
}