.input-text{
    padding: 30px;
    width: 800px;
    font-size:28px;
    font-weight: bold;
    background-color: greenyellow;
}
.show-input-text{
    padding: 30px;
    width: 800px;
    font-size:28px;
    font-weight: bold;
    background-color: crimson;
    color: white;
}